@import "tailwindcss";

h1,
h2,
h3,
h4,
h5 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #bb9f7c;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

p,
li,
label {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}

li {
    font-weight: 300;
}
/* PAGINATION SWIPPER */
/* Posicionar bullets debajo de la imagen */
.swiper-pagination {
    position: relative !important;
    margin-top: 20px; /* separa los bullets de la imagen */
    text-align: center;
    z-index: 20;
}

/* Estilo de bullets normales */
.swiper-pagination-bullet {
    background: transparent !important; /* color de bullets inactivos */
    border: solid 1px white !important;
    opacity: 1 !important;
}

/* Estilo de bullet activo */
.swiper-pagination-bullet-active {
    background: #bb9f7c !important; /* color de bullet activo */
    opacity: 1 !important;
}

/* Opcional: tamaño y borde redondeado */
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 9999px;
}

@media (min-width: 1024px) {
    .swiper-pagination {
        text-align: right !important;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 30px !important; /* Cambiá esto por el tamaño deseado */
    }

    .swiper-button-prev,
    .swiper-button-next {
        /* top: 50% !important; */
        transform: translateY(-30%) !important;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 1.5s forwards;
}
